*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #474747;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #474747;
    height: 115px;
}

header h1{
    margin-right: 50px;
}

#lista{
display: flex;
list-style: none;
}

#lista li{
    margin-right: 25px;
}

#lista a{
    text-decoration: none;
    font-family: epunda;
    color: white;
    font-weight: 900;
}